<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-img src="assets/avatar.jpg"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <ion-label >Randy Frias</ion-label>
    </ion-col>
   
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-label>2019-8464</ion-label>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <ion-label>randy140801@gmail.com</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
